* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: .1rem;
}

body{
  display: grid;
  grid-template-columns: .45fr 2fr;
  grid-template-rows: 100vh;
}
nav{
  background-color: rgb(35, 148, 148);
}
nav > *{
  margin-left: 10px;
}
main{
  background-color: rgb(255, 255, 255);
}
menu{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:46vh;
}
.title{
  margin-bottom: 20px;
  font-weight: 700;
}
a:any-link{
  color:black;
  text-decoration:none;
}
a:hover{
  text-decoration: underline;
}
header{
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
  padding: 0.5rem 2rem;
}
.profile-container{
  display: flex;
  justify-content: center;
}
.profile-greeting{
  display: flex;
}
.logout-btn{
  margin: auto;
  background-color: rgb(53, 132, 221);
  padding: 5px;
  border-radius: 5px;
  color: white;
}
#search-field{
  height: 23px;
}
.user{
  margin-left:10px;
  align-self: center;
}
.bell-icon{
  align-self: center;
}
.greeting{
  align-self: center;
  margin-left: 10px;
}